main {
  width: 1440px;
  font-size: 14px;
}

.main__list {
  margin-bottom: 80px;
}

.main__list_2 {
  margin-bottom: 130px;
}

.main__item__2,
.main__item {
  margin: 0 0 13px 0;
  color: #273d46;
  font-size: 20px;
  line-height: 36px;
  background: url('../images/check_icon.png') left no-repeat;
  padding-left: 35px;
}

.main__item:nth-child(1) {
  text-decoration: line-through;
}

.main__item:nth-child(2) {
  font-weight: bold;
}

.main__item:nth-child(3) {
  font-style: italic;
}

.main__item:nth-child(4) {
  text-transform: uppercase;
}

.button {
  color: #fff;
  box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
  background-color: rgba(128, 183, 179, 0.54);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 17px 59px 17px 30px;
  background: url('../images/Shape_2.png') right no-repeat;
}

.button:hover {
  background-color: #3a5856;
}

/*background-color: #3a5856;*/

.button {
  margin-bottom: 30px;
}

.main__text {
  margin: 0 0 30px 0;
}

.main__title {
  margin-bottom: 24px;
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.text-wrapper {
  width: 738px;
}
