:root {
  --primary-header-bg: #f0e9c9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.header {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  height: 50px;
}

.header-wrapper {
  background-color: var(--primary-header-bg);
}

.navigation {
  align-items: center;
}

.navigation__link {
  color: black;
}

.link {
  text-decoration: none;
}

.logo {
  color: black;
  font-size: 20px;
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.auth__item,
.navigation__item {
  list-style: none;
  font-size: 20px;
}

.auth {
  display: flex;
}

.navigation__link {
  margin-left: 50px;
}

.auth__link {
  margin-left: 30px;
  color: #000000;
}

.auth__link__first {
  margin-left: 200px;
}

.navigation__item:first-child {
  margin-left: 300px;
}

/*Main*/

/* Footer */

.Footer {
  height: 50px;
}

.footer-wrapper {
  background-color: var(--primary-header-bg);
}
