:root {
  --primary-header-bg: #f0e9c9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;

  overflow: auto;
}

/*Header*/

.header {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  height: 50px;
  text-transform: uppercase;
}

.header-wrapper {
  background-color: var(--primary-header-bg);
}

.navigation {
  align-items: center;
}

.navigation__link {
  color: black;
}

.link {
  text-decoration: none;
}

.logo {
  color: black;
  font-size: 20px;
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation__item {
  list-style: none;
  font-size: 20px;
}

.navigation__link {
  margin-left: 50px;
}

.navigation__item:first-child {
  margin-left: 300px;
}

/*Main*/

main {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-wrapper {
  flex: 1 1 auto;
}

.main__description {
  text-align: center;
}

.main__title {
  display: inline;
  text-align: center;
  font-size: 35px;
}

/* Footer */

.Footer {
  height: 70px;
  background-color: var(--primary-header-bg);
}

.footer-wrapper {
  background-color: var(--primary-header-bg);
  height: 70px;
}

.footer__text {
  text-align: center;
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
