.main__block {
  border: 5px solid #000;
  height: 50px;
  overflow: auto;
}

.main__string {
}

img {
  margin: 50px 0 0 0;
}

.title {
  font-size: 30px;
  text-align: center;
}

.list__item {
  font-size: 20px;
  margin-bottom: 10px;
}

.list li:nth-child(1) {
  color: tomato;
}
